<?xml version="1.0"?>
<ruleset
        name="Sample"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
>
    <description>Check the code of the sniffs.</description>
    <rule ref="vendor/squizlabs/php_codesniffer/src/Standards/PSR2/ruleset.xml" />

    <config name="installed_paths" value="../../slevomat/coding-standard,../../struggle-for-php/sfp-coding-standard"/>
    <rule ref="SlevomatCodingStandard.Files.TypeNameMatchesFileName">
        <properties>
            <property name="rootNamespaces" type="array">
                <element key="src" value="App"/>
            </property>
        </properties>
    </rule>
    <rule ref="vendor/doctrine/coding-standard/lib/Doctrine/ruleset.xml" />

    <rule ref="SfpCodingStandard.Di.ForbiddenInstantiation">
        <properties>
            <property name="forbiddenInstantiations" type="array">
                <element key="App\PdoFactory" value="PDO"/>
            </property>
        </properties>
    </rule>

    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="colors" />

    <!-- Show progress of the run -->
    <arg value="p"/>
    <file>src</file>
    <file>public</file>
</ruleset>